* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'porsche-next';
    transition: 0.3s;
    list-style: none;
}

a {
    text-decoration: none;
}

i {
    cursor: pointer;
}